<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    <div id="myapp">
		<input v-model="name"></br>
		<a href="#" v-bind="name"></a>
		<span v-bind="name"></span><br>
		<input v-model="age"></br>
		<span v-bind="age"></span>
    </div>
    <script src="js/myVue.js"></script>
    <script>
        var myModel = {
			name:'zq',
	        age : 26
		};
		var myvue = new MyVue({
			el:"#myapp",
			data:myModel
        })
		myModel.name="zq01"
		myModel.age=28
		console.log(myModel)
    </script>
</body>
</html>